body, html,#allmap {width: 1600px;height: 800px;overflow: hidden;margin:0;font-family:"微软雅黑";}

#ma-nav {
	position: fixed;
	height: 100%;
	width: 30%;
	background: #FFF;
	z-index: 1;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
	top: 0;
	left: 0;
}

table th span {
  color: #e3e3e3;
}

.sorted {
  color: black;
}

.ember-view select{
	margin-left: 200px;
	height: 30px;
	width: 100px;
	border-radius: 10px;
}